
{mode, max}.

{duration, 20}.

{concurrent, 1}.

{driver, basho_bench_driver_lsm_tree}.

{key_generator, {int_to_bin,{uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 10000}}.

{operations, [{get, 1}, {put, 1}]}.

%% the second element in the list below (e.g., "../../public/lsm_tree") must point to
%% the relevant directories of a lsm_tree installation
{code_paths, ["deps/stats",
              "../lsm_tree/ebin"
              ]}.

% {lsm_tree_dir, "/tmp/lsm_tree.bench"}.

{lsm_tree_flags, [
                 {page_size, 8192}
                 ]}.
