%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{require_otp_vsn, "R1[45]"}.
{cover_enabled, true}.

%{so_name, "lsm_tree.so"}.
%{port_sources, ["c_src/*.c"]}.

{port_env, [{"CFLAGS", "$CFLAGS -g -Wall -O3"}]}.
{port_specs, [{"priv/lsm_tree.so", ["c_src/*.c"]}]}.

{eunit_opts, [  verbose
             , {report, {eunit_surefire, [{dir, "."}
             %, {parse_transform, lager_transform}
             ]}}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{deps, [  {sext, ".*", {git, "git://github.com/esl/sext", {branch, "master"}}}
        , {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", {branch, "master"}}}
        %,  {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "master"}}}
        %, {riak_core, ".*", {git, "git://github.com/basho/riak_core.git", {branch, "master"}}}
        % , {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
        % , {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
        ]}.

{erl_opts, [%{d,'TRIQ',true}, %% or use 'PROPER' instead and uncomment deps line
            %{parse_transform, lager_transform},
            fail_on_warning,
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record,
            debug_info] }.

{xref_checks, [undefined_function_calls]}.
